[submodule "third_party/redis-plus-plus"]
	path = third_party/redis_plus_plus
	url = https://github.com/sewenew/redis-plus-plus.git
[submodule "third_party/hiredis"]
	path = third_party/hiredis
	url = https://github.com/redis/hiredis.git
